<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/screen.css"/>
</head>
<body>
<div id="books">
    <form action="#" id="addBook">
        <div class="input-box">
           <div>
               <label for="coverImage">coverImage:</label>
               <input type="file" id="upload" multiple="" accept="image/*">
               <input type="text" id="coverImage" style="display: none"/>
               <span id="img"></span>

           </div>
            <div>
                <label for="title">title:</label><input type="text" id="title" name="title"/>
                <label for="author">author:</label><input type="text" id="author" name="author"/>
                <label for="releaseDate">releaseDate:</label><input type="text" id="releaseDate"/>
            </div>
           <div>
               <label for="keywords">keywords:</label><input type="text" id="keywords"/>
               <button id="add">Add</button>
           </div>
        </div>
    </form>

</div>

<script type="text/template" id="bookTemplate">
 <img src="<%= coverImage %>"/>
    <ul>
        <li><%= title %></li>
        <li><%= author%></li>
        <li><%= releaseDate%></li>
        <li><%= keywords%></li>
    </ul>
 <button class="delete">Delete</button>
</script>
<script src="js/lib/jquery-2.1.1.min.js"></script>
<script src="js/lib/underscore.js"></script>
<script src="js/lib/backbone-min.js"></script>
<!--<script>
    var app=app||{};
    app.Book=Backbone.Model.extend({
        defaults:{
            coverImage:"img/placeholder.jpg",
            title:"No title",
            author:"Unkown",
            releaseDate:"Unkown",
            keywords:"None"
        }
    });
    app.Library=Backbone.Collection.extend({
        model:app.Book
    });
    app.BookView=Backbone.View.extend({
        tagName:"div",
        className:"bookContainer",
        template: _.template($("#bookTemplate").html()),
        events:{
            "click .delete":"deleteBook"
        },
        render:function(){
            this.$el.html(this.template(this.model.toJSON()));
            return this;
        },
        deleteBook:function(){
            this.model.destroy();
            this.remove();
        }
    });
    app.libraryView =Backbone.View.extend({
        el:"#books",
        initialize:function(initialBooks){
            this.collection=new  app.Library(initialBooks);
            this.render();
            this.listenTo(this.collection,"add",this.renderBook);

        },
        events:{
            "click #add":"addBook"
        },
        render:function(){
            this.collection.each(function(item){
                this.renderBook(item);
            },this)
        },
        renderBook:function(item){
            var bookView=new app.BookView({model:item});
            this.$el.append(bookView.render().el);

        },
        addBook:function(e){
            e.preventDefault();
            var formData={};
            $("#addBook div").children("input").each(function(i,el){
                if($(el).val()!=" "){
                    formData[el.id]=$(el).val();
                }
            });
            this.collection.add(new app.Book(formData))
        }
    });
    $(function(){
        var books=[
            {title:'javascript',author:"Douglas Crokfof",releaseDate:"208",keywords:"javascript","keyword":"programming"},
            {title:'javascript',author:"Douglas Crokfof",releaseDate:"208",keywords:"javascript","keyword":"programming"},
            {title:'javascript',author:"Douglas Crokfof",releaseDate:"208",keywords:"javascript","keyword":"programming"},
            {title:'javascript',author:"Douglas Crokfof",releaseDate:"208",keywords:"javascript","keyword":"programming"},
            {title:'javascript',author:"Douglas Crokfof",releaseDate:"208",keywords:"javascript","keyword":"programming"},
            {title:'javascript',author:"Douglas Crokfof",releaseDate:"208",keywords:"javascript","keyword":"programming"}
        ];
        new app.libraryView(books);
    });
</script>-->

<script src="js/models/book.js"></script>
<script src="js/collections/library.js"></script>
<script src="js/views/book.js"></script>
<script src="js/views/library.js"></script>
<script src="js/app.js"></script>
<script src="js/tools/tools.js"></script>
</body>
</html>