<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/screen.css"/>
</head>
<body>
<div id="books">
    <form action="#" id="addBook">
        <div class="input-box">
           <div>
               <label for="coverImage">coverImage:</label>
               <input type="file" id="upload" multiple="" accept="image/*">
               <input type="text" id="coverImage" style="display: none"/>
               <span id="img"></span>

           </div>
            <div>
                <label for="title">title:</label><input type="text" id="title" name="title"/>
                <label for="author">author:</label><input type="text" id="author" name="author"/>
                <label for="releaseDate">releaseDate:</label><input type="text" id="releaseDate"/>
            </div>
           <div>
               <label for="keywords">keywords:</label><input type="text" id="keywords"/>
               <button id="add">Add</button>
           </div>
        </div>
    </form>

</div>

<script type="text/template" id="bookTemplate">
 <img src="<%= coverImage %>"/>
    <ul>
        <li><%= title %></li>
        <li><%= author%></li>
        <li><%= releaseDate%></li>
        <li><%= keywords%></li>
    </ul>
 <button class="delete">Delete</button>
</script>
<script src="js/lib/jquery-2.1.1.min.js"></script>
<script src="js/lib/underscore.js"></script>
<script src="js/lib/backbone-min.js"></script>
<script src="js/lib/backbone-localstorage.js"></script>
<script src="js/models/book.js"></script>
<script src="js/collections/library.js"></script>
<script src="js/views/book.js"></script>
<script src="js/views/library.js"></script>
<script src="js/app.js"></script>
<script src="js/tools/tools.js"></script>
</body>
</html>